
<!-- Table 'ha_devices' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
<fieldset>
[#if ID=""#]
<legend><#LANG_NEW_RECORD#></legend>
[#endif ID#]
<!-- TITLE (varchar) -->
<div class="form-group[#if ERR_TITLE#] has-error[#endif#]">
 <label for="title" class="col-lg-3 control-label">
 <#LANG_TITLE#>:
 (*)
 </label>
 <div class="col-lg-9"><input id="title" name="title" value="[#TITLE#]" type="text" class="form-control"></div>
</div>

 <div class="form-group">
  <label class="col-lg-3 control-label">
   ieeeAddr:
  </label>
  <div class="col-lg-9">
   <input type="text" disabled class="form-control" value="[#IEEEADDR#]">
  </div>
 </div>

 <div class="form-group">
  <label class="col-lg-3 control-label">
   Identifier:
  </label>
  <div class="col-lg-9">
   <input type="text" disabled class="form-control" value="[#IDENTIFIER#]">
  </div>
 </div>

 <div class="form-group">
  <label class="col-lg-3 control-label">
   Manufacturer:
  </label>
  <div class="col-lg-9">
   <input type="text" disabled class="form-control" value="[#MANUFACTURER#]">
  </div>
 </div>

 <div class="form-group">
  <label class="col-lg-3 control-label">
   Model:
  </label>
  <div class="col-lg-9">
   <input type="text" disabled class="form-control" value="[#MODEL#]">
  </div>
 </div>

 <div class="form-group">
  <label class="col-lg-3 control-label">
   Hw. version:
  </label>
  <div class="col-lg-9">
   <input type="text" disabled class="form-control" value="[#HW_VERSION#]">
  </div>
 </div>

 <div class="form-group">
  <label class="col-lg-3 control-label">
   Sw. version:
  </label>
  <div class="col-lg-9">
   <input type="text" disabled class="form-control" value="[#SW_VERSION#]">
  </div>
 </div>

 <div class="form-group">
  <label class="col-lg-3 control-label">
   <#LANG_UPDATED#>:
  </label>
  <div class="col-lg-9">
   <input type="text" disabled class="form-control" value="[#UPDATED#]">
  </div>
 </div>

 <!-- DEVICE_PAYLOAD (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label">
  <a href="#" onclick="$('#device_payload').toggle();return false;">DEVICE PAYLOAD</a>
 </label>
 <div class="col-lg-9" id="device_payload" style="display:none">
  <pre>[#DEVICE_PAYLOAD#]</pre>
 </div>
</div>

<div class="form-group">
 <label class="col-lg-3 control-label">
  &nbsp;
 </label>
        <div class="col-lg-9">
 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default "><#LANG_CANCEL#></a>
         [#if ID!=""#]
         &nbsp;&nbsp;
         <a href="?view_mode=delete_ha_devices&id=<#ID#>" class="btn btn-default btn-danger" onclick="return confirm('<#LANG_ARE_YOU_SURE#>');"><#LANG_DELETE#></a>
         &nbsp;
         <a href="?view_mode=unlink_ha_devices&id=<#ID#>" class="btn btn-default btn-danger" onclick="return confirm('<#LANG_ARE_YOU_SURE#>');"><#LANG_DELETE#> + UNLINK</a>
            [#endif#]
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="tab" value="<#TAB#>">
        </div>
</div>
</fieldset>
</form>
